.arrangement{
    margin-left:8.5rem;
    margin-bottom:30rem;
  }
.btnSave{
   margin:1rem;
}
.btnDelete{
    margin: 1rem;
}
.mainBox{
    background-color:#5F9EA0;
}
.headingText{
    margin-bottom: 1rem;
}